@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-cyan{
    @apply bg-accentBlue dark:bg-accentCyan 
    text-black dark:text-white px-16 py-4 shadow-md
    rounded-full cursor-pointer hover:scale-95 text-center;
  }
  .email-box{
    @apply bg-white text-black px-16 py-4 rounded-full text-center
    outline-none;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }